@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "remixicon/fonts/remixicon.css";
@import "tailwindcss";

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

@theme {
	--font-montserrat: "Montserrat", sans-serif;
	--color-white-1: #f8f9fa; /* seasalt */
	--color-white-2: #e9ecef; /* antiflash-white */
	--color-gray-1: #dee2e6; /* platinum */
	--color-gray-2: #ced4da; /* french-gray */
	--color-gray-3: #adb5bd; /* french-gray-2 */
	--color-gray-4: #6c757d; /* slate-gray */
	--color-gray-5: #495057; /* outer-space */
	--color-gray-6: #343a40; /* onyx */
	--color-black-1: #212529; /* eerie-black */
}
